name: RdpByNTechDz-Admin
on:
  workflow_dispatch:
    inputs:
      ngrok_download_url:
        description: 'Past the ngrok Windows (amd64) ZIP direct download link here'
        required: true
        default: 'https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-windows-amd64.zip'
 
jobs:
  build:
    runs-on: windows-2019  # Windows 10 (بدلاً من windows-latest الذي يستخدم Windows 11)
    steps:
      - name: Download and Extract ngrok
        run: |
          Invoke-WebRequest -Uri "${{ github.event.inputs.ngrok_download_url }}" -OutFile ngrok.zip
          Expand-Archive ngrok.zip
 
      - name: Authenticate ngrok
        env:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
        run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
 
      - name: Configure RDP and Create Admin User
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          New-LocalUser "Mazin" -Password (ConvertTo-SecureString -AsPlainText "Mazo778877@" -Force) -FullName "Mazin User"
          Add-LocalGroupMember -Group "Remote Desktop Users" -Member "Mazin"
          Add-LocalGroupMember -Group "Administrators" -Member "Mazin"
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
 
      - name: Install Brave Browser
        run: |
          Write-Host "Downloading and Installing Brave Browser..."
          $braveInstallerUrl = "https://referrals.brave.com/latest/BraveBrowserSetup.exe"
          $installerPath = "$env:TEMP\BraveBrowserSetup.exe"
          Invoke-WebRequest -Uri $braveInstallerUrl -OutFile $installerPath
          Start-Process -FilePath $installerPath -ArgumentList "/silent", "/install" -Wait
          Write-Host "Brave Browser installed successfully!"
 
      - name: Start RDP Tunnel
        run: |
          Write-Host "======================================================================"
          Write-Host "            RDP Connection Details - NTechDz Channel"
          Write-Host "======================================================================"
          Write-Host "Username:    Mazin (Administrator)"
          Write-Host "Password:    Mazo778877@"
          Write-Host "OS:          Windows 10"
          Write-Host "Browser:     Brave Browser (Installed)"
          Write-Host "Please find the RDP Address in the ngrok logs below."
          Write-Host "======================================================================"
          .\ngrok\ngrok.exe tcp 3389 --log=stdout
